
  @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(217, 54%, 11%);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.container{
    background-color: hsl(216, 50%, 16%); 
    padding: 1rem;
    width: 22rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}
.image{
    width: 20rem;
}
.image img{
    width: 100%;
    height: auto;
    border-radius: 15px;
}
.text-container1{
    width: 80%;
    font-size: 24px;
    color: hsl(215, 27%, 91%);
}
.text-container2{
    width: 80%;
    color: hsl(215, 51%, 70%);
    line-height: 1.3rem;
}
.text-container3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
   
}
.price{
    color: hsl(178, 100%, 50%) ;
}
.time{
    color: hsl(215, 51%, 70%); 
}
.divider{
    border: 1px solid hsl(215, 32%, 27%);
    width: 100%;
    color: hsl(215, 32%, 27%);

}
.bottom-container{
    gap: 1rem;
    display: flex;
}
.avatar{
    width: 15%;
    border-radius: 50%;
    border: 2px solid hsl(215, 27%, 91%);
}
.bottomtext{
    color: white;
    display: flex;
    align-items: center;
    gap: 0.2rem;
}
.text{

    color: hsl(215, 51%, 70%);
}
